*{
    font: 12px/1.5 \5FAE\8F6F\96C5\9ED1,arial,sans-serif;
}

html,body{
    height: auto;
}

.header-container{
    height: 60px;
    width: 100%;
}


.left{
    float: left;
}

.right{
    float: right;
}

.navigation{
    height: 60px;
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1500px;
    width: 100%;
}

.navigation .left, .navigation .right{
    height: 60px;
}

.navigation .logo img{
    position: relative;
    top: 10px;
    height: 40px;
    vertical-align: middle;
}

.navigation .logo{
    display: inline-block;
    width: 120px;
    height: 60px;
    vertical-align: middle;
    float: left;
}

.navigation .left .list{
    float: left;
    height: 60px;
    list-style: none;
    margin-left: 20px;
}

.navigation .active a{
    background-color: #5626D3;
    color: #fff !important;
}

.navigation .left .list li a{
    display: inline-block;
    color: #444444;
    width: 65px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    text-decoration: none;
}

.navigation .left .list li a:hover{
    background-color: #5626D3;
    color: #fff;
}

.navigation .left .list li{
    float: left;
    display: inline-block;
    width: 65px;
    height: 60px;
    line-height: 60px;
    margin-left: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.navigation .search{
    height: 60px;
    line-height: 60px;
    width: 115px;
    position: relative;
    float: left;
}

.navigation .search .icon-search{
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 10;
}

.navigation .search input{
    display: inline-block;
    width: 80px;
    font-size: 12px;
    background-color: #F8F8F8;
    border-radius: 15px;
    border: none;
    border: 1px solid #F1F1F1;
    height: 30px;
    outline: none;
    float: right;
    position: relative;
    top: 15px;
    padding-left: 30px;
    padding-right: 10px;
}

.navigation .login-or-download{
    float: left;
    width: 175px;
    position: relative;
    left: 10px;
    z-index: 10;
}

.navigation .login-or-download .list{
    list-style: none;
    height: 60px;
    line-height: 60px;
}

.navigation .login-or-download .list li{
    float: left;
    display: inline-block;
    font-size: 12px;
    width: 80px;
    height: 60px;
    line-height: 60px;
}

.navigation .login-or-download .list{
    float: left;
    position: relative;
    left: 5px;
}

.navigation .login-or-download .list .option-group{
    line-height: 60px;
}

.navigation .login-or-download .list .option-group a{
    width: 70px;
    outline: none;
    text-decoration: none;
    color: #555555;
    cursor: pointer;
}

.navigation .login-or-download .list .option-group *:hover{
    color: #5626D3 !important;
}

.navigation .login-or-download .list .option-group i, .navigation .login-or-download .list .option-group a{
    display: inline-block;
}


.pop-qrcode{
    background: url(../images/qrcode_background.png) no-repeat;
    position: absolute;
    width: 189px;
    height: 315px;
    padding-top: 10px;
    left: -72px;
    top: 50px;
    font-size: 12px;
    color: #333;
    text-align: center;
}


.pop-qrcode .o-download-app-btn {
    display: block;
    color: #fff;
    width: 108px;
    height: 27px;
    background: url(../images/button.png) no-repeat;
    margin: 6px auto 0;
    line-height: 26px
}

.pop-qrcode .o-download-app-icon {
    width: 24px;
    height: 109px;
    background: url(../images/drawing.png) no-repeat;
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 3
}

.pop-qrcode .qr-code-box {
    width: 132px;
    height: 132px;
    margin: 0 auto
}

.pop-qrcode img {
    width: 100%;
    height: 100%
}

.pop-qrcode .expository-box {
    width: 100%;
    margin-top: 28px;
    line-height: 20px
}




.login-container{
    width: 400px;
    height: 400px;
    margin:0 auto;
    overflow: hidden;
}


.layui-tab-brief>.layui-tab-title .layui-this {
    color: #5626D3;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after,.layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #5626D3
}

.layui-input-block {
    margin-left: 80px;
    min-height: 36px;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 40px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #5626D3;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.reg-qrc-code{
    width: 100%;
    text-align: center;
}

.login-title{
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 55px;
    color: #4c4c4c;
}

.login-footer-title{
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 55px;
    color: #797979;
}

.layui-tab-content {
    padding: 20px;
}


.layui-form-item {
    margin-bottom: 15px;
    clear: both;
    *
    zoom: 1;
}




.navigation .login-or-download .list .option-user{
    line-height: 60px;
}

.navigation .login-or-download .list .option-user a{
    width: 45px;
    outline: none;
    text-decoration: none;
    color: #4A4A4A;
    cursor: pointer;
}

.navigation .login-or-download .list .option-user *:hover{
    opacity: 0.8;
}


.pop-profile{
    display: none;
    width: 230px;
    height: 190px;
    background-color: white;
    border: 1px solid #ECEDEE;
    position: absolute;
    left: -72px;
    top: 60px;
    font-size: 12px;
    color: #4A4A4A;
    text-align: center;
    border-radius: 5px;
}

.pop-profile .profile-item{
    width: 100%;
    height: auto;
}

.pop-profile .profile-item .photo{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.pop-profile .logout{
    display: block;
    text-align: right;
}
.pop-profile .logout a{
    margin-right: 5px;
}

.pop-profile .profile-item .nickname{
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.pop-profile .gray-line{
    width: 210px;
    min-height: 1px;
    margin: 0 auto;
    background-color: #ECEDEE;
}

.pop-profile .profile-nav ul{
    display: block;
    list-style: none;
    margin-left: 10px;
    width: 210px !important;
    height: 60px;
}

.pop-profile .profile-nav li{
    display: inline-block;
    min-height: 50px;
    width: 70px !important;
    cursor: pointer;
}

.pop-profile .profile-nav li div{
    margin-top: 20px;
}

.pop-profile .profile-nav li div i{
    display: block;
    text-align: center;
}


