html,body,.container{
    height: 100% !important;
    overflow: hidden;
    background-color: #F5F5F5;
}

.padding-top-10{
    min-height: 10px;
}

.navigation{
    background-color: #fff;
}

.left-navigation{
    float: left;
    background-color: #333333;
    min-width: 245px !important;
    min-height: 100%  !important;
    z-index: 999;
}

.navigation{width: 100% !important;height: 60px !important;margin: 0 auto !important;}

.navigation .logo {
    display: inline-block !important;
    width: 245px !important;
    height: 59px !important;
    vertical-align: middle !important;
    float: left !important;
    background-color: #333333;
    border-bottom: 1px solid #252525;
    text-align: center;
}

.hot-cate{
    background-color: #333333;
    min-height: 236px;
    border-bottom: 1px solid #252525;
}

.hot-cate .header{
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    cursor: default;
}

.hot-cate .header .title{
    line-height: 40px;
    float: left;
    font-size: 14px;
    color: #999;
}

.hot-cate .header .today{
    position: relative;
    top: 8px;
    line-height: 25px;
    float: right;
    /* width: 70px; */
    height: 25px;
    color: #c6c6c6;
    background-color: #444444;
    text-align: center;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.hot-cate .header .today .stress{
    color: #F13B3A;
}



.recommend-game-container{
    width: 100%;
    height: 170px;
    position: relative;
    /* background: url(../images/bg2.jpg) center top no-repeat #111; */
}

.recommend-game-container .recommend-game-list {
    /* width: 1200px; */
    /* height: 100%; */
    margin: 0 auto;
}

.recommend-game-container .recommend-game-list ul{
    list-style: none;
    position: relative;
    top: 15px;
    left: 5px;
}

.recommend-game-container .recommend-game-list ul li{
    display: block;
    /* width: 19%; */
    height: 140px;
    background-color: #383838;
    cursor: pointer;
    margin-right: 12px;
    clear: right;
    margin-bottom: 16px;
}

.recommend-game-container .recommend-game-list ul li:hover{
    background-color: #444444;
}

.recommend-game-container .recommend-game-list ul li .title{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #999999;
    text-indent: 5px;
    border-bottom: 1px solid #333333;
}

.recommend-game-container .recommend-game-list ul li .content{
    width: 100%;
    height: 110px;
    line-height: 110px;
}

.recommend-game-container .recommend-game-list ul li .content .left{
    float: left;
    width: 60%;
    height: 100%;
}

.recommend-game-container .recommend-game-list ul li .content .right{
    float: right;
    width: 40%;
    height: 100%;
}

.recommend-game-container .recommend-game-list .content .left .team{
    height: 55px;
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend-game-container .recommend-game-list .content .left .team span{
    display: inline-block;
    width: 75px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend-game-container .recommend-game-list .content .left .team img{
    width: 32px;
    height: 32px;
    overflow: hidden;
    float: left;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 10px;
    left: 8px;
}

.recommend-game-container .recommend-game-list .content .right .time{
    display: block;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-align: right;
    position: relative;
    right: 15px;
}

.recommend-game-container .recommend-game-list .content .right .live{
    display: block;
    text-align: center;
    border: 1px solid #6A94EB;
    color: #6A94EB;
    width: 60px;
    margin: 0 auto;
    cursor: pointer;
}

.recommend-game-container .recommend-game-list .content .right .live:hover{
    background-color: #4A83FB;
    color: #fff;
}

.recommend-game-list .right{
    position: relative;
    right: 5px;
}

.center-container{
    width: 1200px;
    max-height: 850px !important;
    background-color: #F5F5F5;
    position: relative;
    display: inline-block;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.center-container .stage{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}



.right-navigation{
    float: right;
    background-color: #ffffff;
    min-width: 435px !important;
    min-height: 100%  !important;
    z-index: 999;
    max-width: 435px !important;
}

.stage .top{
    width: 100%;
    height: 80px;
    padding-left: 10px;
}

.stage .top .picture{
    height: 80px;
    line-height: 80px;
}

.stage .top .picture{
    position: relative;
    top: 10px;
    left: 10px;
}

.stage .top .picture, .stage .top .picture img{
    width: 60px;
    height: 60px;
    line-height: 80px;
    border-radius: 60px;
    overflow: hidden;
    display: inline-block;
}

.stage .top .picture img{
    width: 50px;
    height: 50px;
}

.stage .top  .title{
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 22px;
}

.stage .top .bottom{
    display: block;
    padding-left: 75px;
    position: relative;
    bottom: 15px;
    color: #8d93a1;
}

.stage .top .bottom .type{
    display: inline-block;
    margin-right: 10px;
}

.stage .top .bottom .persons{
    display: inline-block;
    margin-right: 10px;
}

.stage .top .bottom .item{
    display: inline-block;
    margin-right: 10px;
    color: #ff4e00;
    font-size: 12px;
}

.red{
    color: red  !important;
}

.yellow{
    color: #fb952c !important;
}

.purple{
    color: #5626D3  !important;
}

.timer{
    float: right;
    position: relative;
    right: 15px;
}

.stage .player{
    width: 1150px;
    min-height: 600px;
    background-color: #000;
    margin: 0 auto;
}

.right-navigation .chat-list-container{
    width: 100%;
    overflow-y: scroll;
    min-height: 100px;
}

.right-navigation .chat-list-container .chat-list{
    width: 100%;
    padding: 20px;
}

.chat-editor-container{
    position: fixed;
    bottom: 0px;
    height: 125px;
    background-color: #FFFFFF;
    width: 100%;
    border-top: 1px solid #EFEFEF;
}

.chat-editor-container .header{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.chat-editor-container .editor-box{
    width: 100%;
    height: 65px;
    padding: 10px;
}

.chat-editor-container .editor-box .editor{
    width: 342px;
    height: 59px;
    border: 1px solid #dcdcdc;
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    white-space: pre;
}

.editor-button{
    display: inline-block;
    white-space: nowrap;
    height: 67px;
    width: 55px;
    position: relative;
    top: -29px;
    left: -5px;
    border: 0px solid #fff;
    background-color: #5626D3;
    color: #fff;
    cursor: pointer;
}

.text-cont{
    min-height: 20px;
    width: 90%;
    overflow: hidden;
    word-wrap: break-word;
}

.chat-list .phone{
    color: #5c9bf1;
    cursor: pointer;
}

.chat-list .content{
    color: #535353;
    margin-left: 5px;
}


.information{
    background-color: #FFFFFF;
    width: 100%;
    min-height: 125px;
}

.information .top .title{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 22px;
}

.information .top .content{
    display: block;
    position: relative;
    top: 20px;
    left: 10px;
    color: #3c3c3c;
}


.chat-list .c-nicon {
    background-position: 0 -121px;
    width: 20px;
    height: 16px;
}


.chat-list .c-nicon, .colours .c-icon, .expression .e-btn, .shie-switch .shie-site-icon {
    display: inline-block;
    background: url(../res/common/speak-icon.png?v=9bf9fedb4c) no-repeat;
    vertical-align: -4px;
    *vertical-align: -1px;
}

.official .phone{
    background-color: #846eff;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding-left: 5px;
    color: #fff;
    padding-right: 5px;
}

.official .content{
    color: #5c43e3;
}

.official{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.video-full-player .tips{
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
    top: 285px;
    font-size: 25px;
}

.live-grade{
    display: inline-block;
    width: 1045px;
}