<div class="layui-form layui-form-pane my-view" method="post" action="./express-platform/edit"
     enctype="application/x-www-form-urlencoded" xmlns:th="http://www.thymeleaf.org">

    <div class="layui-form-item">
        <label class="layui-form-label">直播标题</label>
        <div class="layui-input-block">
            <input type="text" id="live-title" autocomplete="off"
                   disabled="disabled" class="layui-input" th:value="${live.liveTitle}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">添加时间</label>
        <div class="layui-input-block">
            <input type="text" id="add-date" autocomplete="off"
                   disabled="disabled"  class="layui-input" th:value="${live.addDateStr}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">赛事名称</label>
        <div class="layui-input-block">
            <input type="text" id="game-name" autocomplete="off"
                   disabled="disabled"  class="layui-input" th:value="${live.gameName}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">直播状态</label>
        <div class="layui-input-block">
            <input type="text" id="scheduleStatus" autocomplete="off"
                   disabled="disabled" class="layui-input" th:value="${scheduleStatus}">

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">比赛时长</label>
        <div class="layui-input-block">
            <input type="text" id="game-duration" autocomplete="off"
                   disabled="disabled"  class="layui-input" th:value="${live.gameDuration}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">直播链接</label>
        <div class="layui-input-block">
            <input type="text" id="source-url" autocomplete="off"
                   disabled="disabled" class="layui-input" th:value="${live.sourceUrl}">
        </div>
    </div>
    <!-- 分享次数开始 -->
    <div class="layui-form-item">
        <label class="layui-form-label">分享次数</label>
        <div class="layui-input-block">
            <input type="text" id="share_count" autocomplete="off"
                   disabled="disabled" class="layui-input" th:value="${live.shareCount}">
        </div>
    </div>
    <!-- 分享次数结束 -->
    <!-- 收藏次数开始 -->
    <div class="layui-form-item">
        <label class="layui-form-label">收藏次数</label>
        <div class="layui-input-block">
            <input type="text" id="collect_count" autocomplete="off"
                   disabled="disabled"  class="layui-input" th:value="${live.collectCount}">
        </div>
    </div>
    <!-- 收藏次数结束 -->
    <!-- 广告内容开始 -->
    <div class="layui-form-item">
        <label class="layui-form-label">广告内容</label>
        <div class="layui-input-block">
            <input type="text" id="target-url" autocomplete="off"
                   disabled="disabled" class="layui-input" th:value="${live.targetUrl}">
        </div>
    </div>
    <!--广告内容结束-->
    <!-- 情报内容开始 -->
    <div class="layui-form-item">
        <label class="layui-form-label">情报内容</label>
        <div class="layui-input-block">
            <input type="hidden"  class="editor_content" th:value="${live.content}">
            <div id="div2"></div>
        </div>
    </div>
    <!-- 情报内容结束 -->
   <!-- <div class="layui-form-item">
        <button lay-submit lay-filter="my-form" class="layui-btn layui-btn-warm layui-row layui-col-xs12" id="save">确定</button>
    </div>-->
</div>

<script type="text/javascript" src="/js/configuration/wangEditor.js"></script>
<script>
    $(function () {
        $("#save").click(function () {
            layer.closeAll();
        })

        //富文本使用
        var E = window.wangEditor;
        var editor = new E('#div2');
        //重新设置富文本的内容
        editor.customConfig.menus = [

            'fontName',  // 字体
            'strikeThrough',  // 删除线
            'backColor',  // 背景颜色
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'italic',  // 斜体
        ];
        // 隐藏“网络图片”tab
        editor.customConfig.showLinkImg = false;
        // 将图片大小限制为 3M
        editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
        // 限制一次最多上传 1 张图片
        editor.customConfig.uploadImgMaxLength = 1;
        //开启wangEditor的错误提示
        editor.customConfig.debug=true;
        // 关闭粘贴样式的过滤
        editor.customConfig.pasteFilterStyle = false;
        // 忽略粘贴内容中的图片
        editor.customConfig.pasteIgnoreImg = true;

        var photo="";

        //上传图片 将图片以文件的形式传给后台进行操作返回图片 url
        editor.customConfig.customUploadImg = function (files, insert) {
            var date = new FormData();
            date.append("file", files[0]);
            $.ajax({
                type: "POST",
                url:"/management/file/cosUpload",
                data: date,
                dataType: 'json',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    photo=result.msg;
                    console.log(result.msg);
                    insert(result.msg);// insert 是获取图片 url 后，插入到编辑器的方法
                }
            })
        };

        editor.create();//创建富文
        editor.txt.html($(".editor_content").val());

        $("#div2").css("position", "relative");
        $("#div2").css("z-index", "0");

        layui.use(['form'], function(){
            var form = layui.form;
            form.render();
        });
    })
</script>
