
<div class="layui-form layui-form-pane my-view" method="post" action="./express-platform/edit"
     enctype="application/x-www-form-urlencoded" xmlns:th="http://www.thymeleaf.org">

    <div class="layui-form-item">
        <label class="layui-form-label">直播标题</label>
        <div class="layui-input-block">
            <input hidden th:value="${live.liveId}" id="liveId">
            <input type="text" id="live-title" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${live.liveTitle}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">赛事状态</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="" id="scheduleStatus">
                <option value="-1">请选择</option>
                <option value="0">未开始</option>
                <option value="1">正在直播</option>
                <option value="2">已结束</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">直播时间</label>
        <div class="layui-input-block">
            <input type="text" id="beginData" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${live.liveDateStr}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">比赛时长</label>
        <div class="layui-input-block">
            <input type="text" id="game-duration" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${live.gameDuration}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">直播链接</label>
        <div class="layui-input-block">
            <input type="text" id="source-url" autocomplete="off"
                    lay-verify="required" class="layui-input" th:value="${live.sourceUrl}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">赛事名称</label>
        <input hidden th:value="${live.scheduleId}" id="scheduleId">
        <div class="layui-input-block">
            <select name="city" lay-verify="" id="required">
                <option th:value="${live.gameId}" th:text="${live.gameName}" selected></option>
            </select>
        </div>

    </div>
    <!-- 广告内容开始 -->
    <div class="layui-form-item">
        <label class="layui-form-label">广告链接</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="" id="target-url">
                <option th:value="${live.adId}" th:text="${live.targetUrl}" selected></option>
            </select>
        </div>
    </div>
    <!--广告内容结束-->
    <div class="layui-form-item">
        <button lay-submit lay-filter="my-form" class="layui-btn layui-btn-warm layui-row layui-col-xs12" id="save">确定</button>
    </div>
</div>

<script>
    layui.use(['form'], function(){
        var form = layui.form;
        $.getJSON("/management/advertising/getAll",function (data) {
            var html='';
            data.data.forEach(function (item,index) {
                html+='<option value="'+item.adId+'">'+item.targetUrl+'</option>'
            })
            $("#target-url").html(html);
            $("#target-url").selected(adId);
            form.render();
        });
            $.getJSON("/management/game/getAll",function (data) {
                var html='';
                data.data.forEach(function (item,index) {
                    html+='<option value="'+item.gameId+'">'+item.gameName+'</option>';
                })
                $("#required").html(html);
                form.render();
            })
            form.render();
            var liveDetail={};
        layui.use(['laydate'], function(){
            var laydate = layui.laydate;
            //日期时间选择器
            laydate.render({
                elem: '#beginData'
                ,type: 'datetime'
                ,done: function(value, date, endDate){
                    alert(value);
                    liveDetail.liveDate=value;

                }
            });
        });
        $("#save").click(function () {
            $("#save").click(function () {
                if(liveDetail.liveDate==null){
                    liveDetail.liveDate = $("#beginData").val();
                }
                liveDetail.scheduleStatus=$("#scheduleStatus").val();
                if(liveDetail.scheduleStatus=='-1'){
                    layer.msg("请选择比赛状态");
                    return false;
                }
                liveDetail.scheduleId=$("#scheduleId").val();
                liveDetail.liveId=$("#liveId").val();
                liveDetail.liveTitle = $("#live-title").val();
                liveDetail.gameId = $("#required").val();
                liveDetail.gameDuration = $("#game-duration").val();
                liveDetail.sourceUrl = $("#source-url").text();
                liveDetail.adId = $("#target-url").val();
                var jsonStr = JSON.stringify(liveDetail);
                $.ajax({
                    url:"/management/live/setLiveInfo",    //请求的url地址
                    dataType:"json",   //返回格式为json
                    data: liveDetail,    //参数值
                    type:"post",   //请求方式
                    success:function(data){
                        //请求成功时处理
                        if(data == null || data.code == null || data.code != 200) {
                            if(data.code == 300){
                                layer.msg(data.msg);
                                return;
                            }else{
                                layer.msg("修改成功");
                                return;
                            }
                        }
                        layer.msg("修改失败");
                        tableIndex.reload();
                        layer.closeAll();
                    }
                });
            })
        })
    });
</script>
