.nav-default-backColor{
	background-color: #f1f1f1;
	text-align: center;
}

.nav-default-backColor a, .nav-default-backColor h1{
	color: #000 !important;
}


.nav-default-backColor h1{
    width: 60% !important;
    margin: 0 auto !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}


.top-icon{
    font-size: 20px;
    position: relative;
    z-index: 20;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
}

.video{
	width: 100%;
	height: 180px;
	overflow: hidden;
	/*border-radius: 0 0 80% 80%;*/
	background-color: #E9E9E9;
	background-image: url(../images/liveBackground.png);
	background-size: 100%;
}

.fixed{
	/* position: relative; */
	/* top: 29%; */
}

.video .shade{
	width: 100%;
	height: 100%;
}

.video .player{
	width: 100%;
	height: 100%;
	background-color: #E9E9E9;
	background-image: url(../images/liveBackground.png);
	background-size: 100%; 
}

.dark-image{
    filter: brightness(.5)
}

.scaled-image {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.blurry-image {
    /*-webkit-filter: blur(10px);*/
    filter: blur(30px);
}

.advertising{
	height: 60px !important;
	background-color: #E9E9E9;
	background-image: url(../images/ad.image.png);
	overflow: hidden !important;
}

.zoomImage{
    width:100%;
    height:0;
    /* padding-bottom: 100%; */
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}


.shade .leftv, .shade .info, .shade .rightv{
	float: left;
	clear:right;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.shade .leftv{
	width: 30%;
}

.shade .leftv, .shade .rightv{
	padding-top: 15%;
}


.shade .leftv img, .shade .rightv img{
	width: 60%;
}

.shade .info{
	width: 40%;
	padding-top: 6%;
} 

.shade .info span{
	display: block;
}

.shade .info .status{
	font-size: 18px;
	color: #fff;
}

.shade .info .grade{
	font-size: 55px;
	font-family: "webfont";
	color: #fff;
}

.shade .info .btnLive{
	border: 0px solid #fff;
	width: 70px;
	height: 25px;
	line-height: 25px;
	background-color: #6B1EC2;
	color: #fff;
	display: none;
}

.shade .rightv{
	width: 30%;
}

.advertising img{
	width: 100%;
	height: 100%;
}


.live-tabs{
	width: 100%;
	list-style: none;
	cursor: pointer;
}

.live-tabs li{
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	height: 40px;
	line-height: 40px;
	color: #89779c;
	font-size: 14px;
}

.live-tabs .active{
	border-bottom: 3px solid #9075d4;
}


.message-list{
	/* overflow: initial; */
	background-color: #f9f9f9;
}

.edit {
    display: inline-block;
    float: left;
    text-align: center;
    width: 77%;
    padding-left: 10px;
    padding-top: 3px;
}

.editor .group {
    width: 55px;
    display: inline-block;
    float: left;
    text-align: center;
}

.send {
    background-color: #f3f3f3;
    color: #0a0a0a;
    border: 0px solid #fff;
    width: 62px;
    height: 35px;
    position: relative;
    top: 7px;
    left: 0px;
    font-size: 15px;
}



.live .top{
	height: 22px;
	line-height: 22px;
	padding-left: 5px;
}

.live .live-content .info{
	bottom: -25px;
}

.live li{
	background-position-y: 30px;
	background-color: #fbfbfb;
}

li {}


.live .info{
	color: #646464;
}


.live-content .left-hot .icon{
	position: relative;
	left: 2px;
	top: -16px;
	font-size: 25px;
	color: #F5CF41;
	float: left;
}

.live-content .left-hot img, .live-content .left-hot span{
	position: relative;
	left: 0px;
	text-align: center;
}



.live-content .right-hot .icon{
	position: relative;
	right: -1px;
	top: -24px;
	font-size: 35px;
	color: #FE4541;
	float: right;
}

.live-content .right-hot img, .live-content .right-hot span{
	position: relative;
	right: -15px;
}


/*lives*/

.live .live-content .lefte{
	
	float:left;
	clear:right;
	
border-bottom-right-radius: 35px;
}

.live .live-content .lefte img, .live .live-content .righte img{
	width: 50px;
	height: 50px;
	display: block;
	text-align: center;
	margin:0 auto;
	
}

.live .live-content .righte{
	
	float:left;
	clear:right;
	
border-bottom-left-radius: 35px;
}




.live .live-content .lefte, .live .live-content .righte{
	
background-color: #fff;
	
text-align: center;
	
padding-top: 22px;
	
width:30%;
	
font-size: 15px;
	
}

.live .live-content .lefte span, .live .live-content .righte span{
	line-height: 35px;
	color: #9D9D9D;
}


.live .live-content .infoe{
	float:left;
	clear:right;
	display: inline-block;
	text-align: center;
	width:40%;
	line-height: 100px;
	position: relative;
	top: 30px;
	font-size: 18px;
}




.live-content .left-hot .icon{
	position: relative;
	left: -1px;
	top: -30px;
	font-size: 35px;
	color: #FE4541;
	float: left;
}

.live-content .left-hot img, .live-content .left-hot span{
	position: relative;
	left: -15px;
}



.live-content .right-hot .icon{
	position: relative;
	right: -1px;
	top: -32px;
	font-size: 35px;
	color: #FE4541;
	float: right;
}

.live-content .infoe span{
	color:#9D9D9D;
}

.live-content .right-hot img, .live-content .right-hot span{
	position: relative;
	right: -15px;
}

.mui-bar .mui-title{
    left: 0px;
    width: 100% !important;
}
 

.top-fixed{
	position: fixed; z-index: 100; background-color: #fff; width: 100%;
}

.information-title{
	background-color: #F4F3F8;
	min-height: 35px;
	padding: 0;
	padding-left: 5px;
	line-height: 35px;
	font-size: 15px;
}
 

.live li {
    background-image: url(../images/vs_yellow.png);
}


.live .content .left, .live .content .right {
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
    width: 30%;
    font-size: 15px;
}