
<div class="layui-form layui-form-pane my-view" method="post" action="./express-platform/edit"
     enctype="application/x-www-form-urlencoded" xmlns:th="http://www.thymeleaf.org">

    <div class="layui-form-item">
        <label class="layui-form-label">直播间</label>
        <div class="layui-input-block">
            <input type="hidden" id="informationId" th:value="${informationDetail.isrId}">
            <select name="city" lay-verify="" id="live">

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">赛事</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="" id="game">

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文本</label>
        <div class="layui-input-block">
            <input type="text" id="content" autocomplete="off"
                   lay-verify="required" th:value="${informationDetail.content}" class="layui-input">
        </div>

    </div>
    <!--广告内容结束-->
    <div class="layui-form-item">
        <button lay-submit lay-filter="my-form" class="layui-btn layui-btn-warm layui-row layui-col-xs12" id="save">确定</button>
    </div>
</div>

<script>
    layui.use(['form'], function(){
        var form = layui.form;
        $.getJSON("/management/game/getAll",function (data) {
            var html='';
            data.data.forEach(function (item,index) {
                html+='<option value="'+item.gameId+'">'+item.gameName+'</option>';
            })
            $("#game").html(html);
            form.render();
        })
        $.getJSON("/management/live/getAll",function (data) {
            var html='';
            data.data.forEach(function (item,index) {
                html+='<option value="'+item.liveId+'">'+item.liveTitle+'</option>'
            })
            $("#live").html(html);
            form.render();
        });
        form.render();
        $("#save").click(function () {
            // 修改情报需要：情报编号 直播间编号。2赛事编号，文本内容
            // 创建情报信息对象
            var information = {};

            information.isrId = $("#informationId").val();

            // 1获取直播间编号
            information.liveId = $("#live").val();

            // 2 获取赛事编号

            information.gameId = $("#game").val();

            // 3获取文本内容
            information.content = $("#content").val();
            $.ajax({
                url:"/management/information/setInformationContent",    //请求的url地址
                dataType:"json",   //返回格式为json
                data: information,    //参数值
                type:"post",   //请求方式
                success:function(data){
                    //请求成功时处理
                    if(data == null || data.code == null || data.code != 200) {
                        if(data.code == 300){
                            layer.msg(data.msg);
                            return;
                        }else{
                            layer.msg("修改失败");
                            return;
                        }
                    }
                    layer.msg("修改成功");
                    tableIndex.reload();
                    layer.closeAll();
                }
            });
        })
    });
</script>
