
<div class="layui-form layui-form-pane my-view" method="post" action="./express-platform/edit"
     enctype="application/x-www-form-urlencoded" xmlns:th="http://www.thymeleaf.org">

    <div class="layui-form-item">
        <label class="layui-form-label">直播间</label>
        <div class="layui-input-block">
            <input type="hidden" id="informationId" th:value="${informationDetail.isrId}">
            <input type="hidden" id="currentLiveId" th:value="${informationDetail.liveId}">
            <select name="city" lay-verify="" id="live" lay-filter="test">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">赛事</label>
        <div class="layui-input-block">
            <input type="hidden" id="gameId" th:value="${informationDetail.getGameId()}">
            <input type="text" id="game" autocomplete="off"
                   disabled="disabled" class="layui-input" th:value="${informationDetail.getGameName()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文本</label>
        <div class="layui-input-block">
            <input type="hidden"  class="editor" th:value="${informationDetail.content}">
            <div id="divEdit"></div>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">预测结果</label>
        <div class="layui-input-block">
            <input type="text" id="scheduleResult"  placeholder="预测结果"
                   th:value="${informationDetail.forecastResult}"   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预测成绩</label>
        <div class="layui-input-block">
            <input type="text" id="scheduleGrade" placeholder="请输入成绩"
                   th:value="${informationDetail.forecastGrade}"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预测胜利方</label>
        <div class="layui-input-block">
            <select id="winTeamId">
                <option value="">未产生</option>
                <option th:if="${informationDetail.forecastTeamId}!=${team.teamId}" th:each="team:${teams}" th:value="${team.teamId}" th:text="${team.teamName}"></option>
                <option th:if="${informationDetail.forecastTeamId}==${team.teamId}" th:each="team:${teams}" th:value="${team.teamId}" th:text="${team.teamName}" selected></option>
            </select>
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">首页热推</label>
        <div class="layui-input-block">
            <input type="checkbox" id="pushHome" name="like[push]" title="推荐" th:if="${informationDetail.isHot==1}" checked>
            <input type="checkbox" id="pushHome" name="like[push]" title="推荐" th:if="${informationDetail.isHot==0}">
        </div>
    </div>

    <!--广告内容结束-->
    <div class="layui-form-item">
        <button lay-submit lay-filter="my-form" class="layui-btn layui-btn-warm layui-row layui-col-xs12" id="save">确定</button>
    </div>
</div>
<script type="text/javascript" src="/js/configuration/wangEditor.js"></script>
<script>
    $(function () {
        layui.use(['form'], function(){
            var form = layui.form;
            $.getJSON("/management/game/getAll",function (data) {
                var html='';
                var gameId = $("#gameId").val();
                data.data.forEach(function (item,index) {
                    if(item.gameId == gameId){
                        html+='<option value="'+item.gameId+'" selected>'+item.gameName+'</option>';
                    }else{
                        html+='<option value="'+item.gameId+'">'+item.gameName+'</option>';
                    }
                })
                $("#game").html(html);
                form.render();
            })
            $.getJSON("/management/live/getAll",function (data) {
                var html='';
                var currentLiveId = $("#currentLiveId").val();
                data.data.forEach(function (item,index) {
                    if(item.liveId == currentLiveId){
                        html+='<option selected value="'+item.liveId+'">'+item.liveTitle+'</option>'
                    }else{
                        html+='<option value="'+item.liveId+'">'+item.liveTitle+'</option>'
                    }
                })
                $("#live").html(html);

                /*$.ajax({
                    url: "/management/information/selectgames",    //请求的url地址
                    dataType: "json",   //返回格式为json
                    data: {liveId:data.data[0].liveId},    //参数值
                    type: "post",   //请求方式
                    success: function (data) {
                        if (data.code == 200) {
                            $("#game").val(data.msg.gameName)
                            $("#gameId").val(data.msg.gameId)
                        }
                    }
                })*/

                //动态获取赛事信息
                form.on('select(test)', function(data){
                    var liveId=data.value;
                    $.ajax({
                        url: "/management/information/selectgames",    //请求的url地址
                        dataType: "json",   //返回格式为json
                        data: {liveId:liveId},    //参数值
                        type: "post",   //请求方式
                        success: function (data) {
                            if (data.code == 200) {
                                $("#game").val(data.msg.gameName)
                                $("#gameId").val(data.msg.gameId)
                            }
                        }
                    })
                });

                form.render();
            });

            //富文本使用
            var E = window.wangEditor;
            var editor = new E('#divEdit');
            //重新设置富文本的内容
            editor.customConfig.menus = [

                'fontName',  // 字体
                'strikeThrough',  // 删除线
                'backColor',  // 背景颜色
                'head',  // 标题
                'bold',  // 粗体
                'fontSize',  // 字号
                'italic',  // 斜体
                'underline',  // 下划线
                'foreColor',  // 文字颜色
                'link',  // 插入链接
                'justify',  // 对齐方式
                'image',  // 插入图片
                'undo',  // 撤销
                'redo'  // 重复
            ];
            // 隐藏“网络图片”tab
            editor.customConfig.showLinkImg = false;
            // 将图片大小限制为 3M
            editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
            // 限制一次最多上传 1 张图片
            editor.customConfig.uploadImgMaxLength = 1;
            //开启wangEditor的错误提示
            editor.customConfig.debug=true;
            // 关闭粘贴样式的过滤
            editor.customConfig.pasteFilterStyle = false;
            // 忽略粘贴内容中的图片
            editor.customConfig.pasteIgnoreImg = true;

            var photo="";

            //上传图片 将图片以文件的形式传给后台进行操作返回图片 url
            editor.customConfig.customUploadImg = function (files, insert) {
                var date = new FormData();
                date.append("file", files[0]);
                $.ajax({
                    type: "POST",
                    url:"/management/file/cosUpload",
                    data: date,
                    dataType: 'json',
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        photo=result.msg;
                        console.log(result.msg);
                        insert(result.msg);// insert 是获取图片 url 后，插入到编辑器的方法
                    }
                })
            };

            editor.create();//创建富文
            editor.txt.html($(".editor").val());

            $("#divEdit").css("position", "relative");
            $("#divEdit").css("z-index", "0");

            /*save begin*/
            $("#save").click(function () {
                // 修改情报需要：情报编号 直播间编号。2赛事编号，文本内容
                // 创建情报信息对象
                var information = {};

                information.isrId = $("#informationId").val();

                // 1获取直播间编号
                information.liveId = $("#live").val();

                // 2 获取赛事编号

                information.gameId = $("#gameId").val();

                // 3获取文本内容
                information.content =  editor.txt.html();

                information.forecastGrade = $("#scheduleGrade").val();
                information.forecastResult = $("#scheduleResult").val();
                information.forecastTeamId = $("#winTeamId").val();
                information.isHot = $("input[name='like[push]']").next().hasClass("layui-form-checked") ? 1 : 0;

                $.ajax({
                    url:"/management/information/setInformationContent",    //请求的url地址
                    dataType:"json",   //返回格式为json
                    data: information,    //参数值
                    type:"post",   //请求方式
                    success:function(data){
                        //请求成功时处理
                        if(data == null || data.code == null || data.code != 200) {
                            if(data.code == 300){
                                layer.msg(data.msg);
                                return;
                            }else{
                                layer.msg("修改失败");
                                return;
                            }
                        }
                        tableIndex.reload();
                        layer.closeAll();
                    }
                });
            })
            /*save*/
            form.render();
        });

    })



</script>
